* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-navbar {
    position: sticky!important;
    top: 0;
    min-height: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    z-index: 1071;
}

.todo-sidebar {
    position: sticky!important;
    top: 4rem;
    height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0,0,0,.1);
}

.todo-search {
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 1rem 0;
}

.todo-lists {
    height: calc(100vh - 8.25rem);
    overflow-y: auto;
}

.todo-list {
    padding: 1rem 0;
}

.todo-list.active:after {
    content: '';
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #007bff;
    border-radius: 0.75rem;
    transform: scale(0.5, 0.5);
}

.todo-list:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.todo-tasks {
    padding: 1rem 0;
}

.todo-task {
    padding: 1rem 0;
}

.todo-task:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
